.tiny-info-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  margin: 6px 0;
  padding: 0px 6px;
  cursor: pointer;
  color: #606266;
  font-size: 14px;
  z-index: 0;
}

.tiny-info-wrap:hover .tiny-actions {
  display: flex;
}

.tiny-file-name {
  flex: 1;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  margin-right: 6px;
}

.tiny-file-icon {
  margin-right: 4px;
}

.tiny-progress-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  z-index: -1;
  background-color: #f4f4f5;
  opacity: 0.8;
}

.tiny-progress {
  height: 28px;
  border-radius: 4px;
}

.tiny-percent {
  width: 50px;
  margin-right: 8px;
}

.tiny--uploading {
  background-color: #d9ecff;
}

.tiny--success {
  background-color: #f0f9eb;
}

.tiny--fail {
  background-color: #fef0f0;
}

.tiny-actions {
  display: none;
  align-items: center;
  margin-right: 8px;
}
.tiny-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 8px;
  overflow: hidden;
}
