:root {
  --tiny-color-primary: #409eff;
  --tiny-color-success: #f0f9eb;
  --tiny-color-fail: #fef0f0;
  --tiny-color-uploading: #faecd8;
  --tiny-color-reading: #faecd8;

  --tiny-bg-color: #f4f4f5;
}

:root {
  --tiny-font-size-extra-large: 20px;
  --tiny-font-size-large: 18px;
  --tiny-font-size-medium: 16px;
  --tiny-font-size-base: 14px;
  --tiny-font-size-small: 13px;
  --tiny-font-size-extra-small: 12px;
}

:root {
  --tiny-text-color-primary: #303133;
  --tiny-text-color-regular: #606266;
  --tiny-text-color-secondary: #909399;
  --tiny-text-color-placeholder: #a8abb2;
  --tiny-text-color-disabled: #c0c4cc;
}
